/* -------------- color palette ----------- */

:root {
    --color-primary: #000;
    --color-secondary: #F2F1F5;
    --color-accent: #00C6AF;
    --color-body: #F2F1F5;
    --border-radius: 30px;
    --border--color: #ccc;
}

/* -------- TYPOGRAPHY ----------- */

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 1.2;
}

h1 {
    font-size: 7rem;

}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}



@media screen and (min-width:768px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* -------- containers ------- */
@media screen and (min-width:768px) {
    .container {
        margin: 0 15rem;
        max-width: 1140px;
    }
}


.section {
    padding: 5rem 0;
}

/* -------- Links ------- */
a {
    text-decoration: none;
    color: var(--color-primary);
}

/* ------ lists ---------- */
.list {
    list-style: none;
}

/* -------- ICONS ---------- */
.icon-container {
    align-items: center;
    border-radius: 100%;
    display: inline-flex;
    height: 5rem;
    justify-content: center;
    width: 5rem;
    background-color: #ccc;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
    color: var(--color-primary);
}

/* ---------- Buttons --------- */
.btn {
    padding: 1rem 3rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
}

.btn--primary {
    background: var(--color-primary);
    color: var(--color-body);
}

.btn--secondary {
    background: var(--color-secondary);
}

.btn--accent {
    background: var(--color-accent);
}

/* -------- Grid ----------- */
.grid {
    display: grid;
}

@media screen and (min-width:768px) {
    .grid--1x2 {
        grid-template-columns: 1fr 1fr;
    }

    .grid--1x3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}



/* -------background container----- */
.poly-bg {
    background: var(--color-primary);
    height: 100vh;
}

@media screen and (min-width:768px) {
    .bg-container {
        background: var(--color-secondary);
        height: 100vh;
    }

    .poly-bg {
        clip-path: polygon(100% 0%, 25% 0%, 0% 100%, 100% 100%);
    }

}

/* ------ Nav ---------- */

.nav {
    position: relative;
    display: flex;
    background: var(--color-secondary);
}

.nav__list {
    padding: 1rem;
    padding-top: 80px;
    margin: 0;
    background-color: var(--color-primary);
    overflow: hidden;
}

.nav__toggler {
    width: 100%;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s;
}

.nav__toggler.open {
    opacity: 1;
    max-height: 100vh;
}

.nav__link {
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    color: var(--color-body);
}

.nav__link>a {
    color: inherit;
}

.nav__menu {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

@media screen and (min-width: 728px) {
    .nav {
        flex-direction: row;
        padding: 2rem 0;

    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        background-color: var(--color-secondary);
        margin-left: -3rem;
    }

    .nav__link {
        color: var(--color-primary);
        padding: 1rem 3rem;
        background-color: var(--color-secondary);
    }

    .nav__link.active>a {
        border-bottom: 3px solid black;
    }

    .nav__menu {
        display: none;

    }

    .nav__toggler {
        opacity: 1;
        max-height: 100vh;
        width: auto;
    }
}

.hidden {
    display: none;
}


/* ---------- Hero Section --------- */
.section-hero {
    background: var(--color-secondary);

}

.hero {
    color: var(--color-primary);
    text-align: center;
}

.hero__data {
    gap: 2rem 0;
    vertical-align: middle;
}

.hero__description {
    font-size: 2rem;
}

.hero__heading {
    font-weight: 600;
    line-height: 1;
}

.hero__sub-heading {
    font-weight: 400;
    font-size: 1.8rem;
    opacity: 0.8;
}

.hero__btn {
    width: 25rem;
    justify-self: center;
    padding: 2rem 3rem;
    font-weight: 500;
}

@media screen and (min-width:768px) {
    .hero__heading {
        font-size: 10rem;
    }




    .hero__btn {
        width: 25rem;
        justify-self: start;
        padding: 2rem 4rem;
        font-weight: 600;
    }

    .hero {
        text-align: left;
    }
}

/* ---------- Services  --------------- */
.section-about {
    position: relative;
}

.services {
    width: 100%;
    margin: 0 auto;
    color: var(--color-primary);
    text-align: left;
    color: var(--color-secondary);
}

.service__card {
    margin: 0 1rem;
}

.service__icon-container {
    width: 8rem;
    height: 8rem;
    background-color: var(--color-accent);
}

.service__icon {
    width: 4rem;
    height: 4rem;
}

.service__heading {
    font-size: 2rem;
    margin-top: 1rem;
}

.service__icon-container {
    background-color: var(--color-accent);
}

@media screen and (min-width:768px) {
    .services {
        position: absolute;
        top: -5rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 70vw;
        justify-content: center;
    }

    .service__card {
        width: 40rem;
        margin: 0 2rem;
    }

    .service__icon-container {
        width: 10rem;
        height: 10rem;
        background-color: var(--color-accent);
    }

    .service__icon {
        width: 6rem;
        height: 6rem;
    }

    .service__heading {
        font-size: 2rem;
        margin-top: 3rem;
    }
}

/* -------- about section ---------*/
.section-about {
    padding-top: 25rem;
    background: var(--color-primary);
    padding-bottom: 0;
}

.about__data {
    background: var(--color-accent);
    padding: 4rem 6rem;
    border-radius: 30px;
    margin: 2rem 1rem;
}


.about__description {
    line-height: 1.5;
}

.about__wave {
    padding-top: 5rem;
}

@media screen and (min-width:768px) {
    .about__data {
        padding: 6rem 9rem;
    }

}


/* --------- portfolio section ------*/
.portfolio__header {
    width: 100%;
    text-align: center;
    color: var(--color-primary);
}

.portfolio__description {
    font-size: 1.5rem;
}

.portfolio__card {
    width: 100%;
    height: 100%;
    position: relative;
}

.card__preview {
    width: 100%;
    height: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
}

.card__header {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #00C6AF;
    color: var(--color-primary);
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.portfolio__card:hover .card__preview {
    opacity: 0.3;
}

.portfolio__card:hover .card__header {
    opacity: 1;
}

.card__heading {
    font-weight: 500;
    font-size: 1.5rem;
}